<!DOCTYPE html>
<html ng-app="myapp">
<head>
<title>Insert title here</title>

<!-- <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	
<script src="app.js"></script>


</head>
<body>
	<H1>Hi this is the users page........</H1>

	<div ng-controller="Hello">
		<p>The ID is {{greeting.id}}</p>
		<p>The content is {{greeting.content}}</p>
	</div>
	
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
      <script src="app.js"></script>
      <script src="user_service.js"></script>
      <script src="user_controller.js"></script>
	
</body>
</html>